* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', monospace;
  font-size: 14px;
}

a {
  color: #333;
  text-decoration: none;
}
p {
  background: #f4f4f4;
  padding: 10px;
  border-bottom: 1px #ccc dotted;
}
.removeBtn{
  background:#ff0000;
  color: #fff;
  border: none;
  float: right;
  cursor: pointer;
  border-radius: 50%;
  padding: 3px 8px;
}
.returnBtn{
  background:#666;
  color: #fff;
  border: none;
  float: right;
  cursor: pointer;
  border-radius: 25%;
  padding: 3px 8px;
}
.container {
  padding: 0 1rem;
}

.button-one {
  padding: 5px 50px;
  outline: none;
  color: #ffffff;
  background-color: #323232;
  border: none;
  border-radius: 5px;
}
.button-one {
  text-align: center;
  cursor: pointer;
}

.button-one:hover {
  background-color: #666;
}